*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    height:100%;
}
body{
    text-align: center;
    background-color: #000000;
   
    min-height: 100%;

    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 30px 20%;
    margin-bottom: 5px;
    /* border-bottom: solid white;
    border-bottom-width: .01px;
    margin-bottom: 20px; */
}
section{
    display:flex;
    flex-direction: column;
    margin-bottom: 150px;;
}


.logo a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

nav a:hover{
    color:#0088a9;
}

.btn{
    border: 2px solid rgb(255, 255, 255);
    background-color: #000000;
    text-decoration: none;
    padding:9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width:110px;
    height:40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 8px;
}
.linkedin{
    border-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    font-size: 24px;
}
.linkedin:hover{
    background-color: white;
    color:#0762C8;
}
.venmo{
    border-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    font-size: 24px;
}
.venmo:hover{
    background-color: white;
    color:#008CFF;
}
.meme{
    border-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    font-size: 12px;
}
.meme:hover{
    background-color: white;
    color:#000000;
}
.nothing{
    border-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 14px;
}
.nothing:hover{
    background-color: white;
    color:#000000;
}



.pic img{
    position: relative;
    top: 30px;
    border-radius: 30px;
    width: 250px;
    margin-bottom: 30px;
}

.pay a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

footer{
    background-color: #000000;
    text-align: center;
    color:#606060;
    width: 100%;
    margin-top: auto;
    vertical-align: center;
    height: 70px;

}
footer h1{
    font-weight: 600;
    font-size:15px;
}